/* Basic CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Custom fonts for Odin text */

@font-face {
    font-family: 'Swash';
    src: url(./fonts/devinne-swash-font/DevinneSwash-qZd5.ttf)
}

@font-face {
    font-family: 'Swash-shadow';
    src: url(./fonts/devinne-swash-font/DevinneSwashShadow-VGjB.ttf);
}

body {
margin: 0 auto;
width: 70%;
outline: 1px solid red;
}

/* Main container */

.container {
    min-height: 100vh;
    display: flex;
}

/* Image section */

section.decor {
    background-image: url(./images/mountain-lake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.decor-image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    height: 200px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5);
}

.decor-image-box > img {
    height: 70%;
}

.decor-image-box > p {
    font-family: 'Swash';
    color: rgb(255, 255, 255);
    font-size: 5rem;
}

/* Main section with form element */

.form-description {
    margin-bottom: 50px;
    margin-left: 30px;
}

.form-description p:first-child {
    width: 410px;
}

.form-description > p + p {
    margin-top: 2rem;
}

.main {
    background-color: rgba(249, 250, 251, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

/* Form */

.call-to-action {
    margin: 20px 0 20px 0;
}

.inputs {
    background-color: white;
    padding-bottom: 30px;
    box-shadow: 0px 4px 10px -2px rgb(201,199,199), 0px -4px 11px -7px rgb(201,199,199);
    border: 1px solid white;
    width: 70%;
    padding-left: 30px;
}

ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 150px;
    width: 400px;
    list-style-type: none;
}

li {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    margin-right: 20px;
    outline: 1px solid red;
}

li > label {
    display: inline-block;
    min-width: 10rem;
    text-transform: uppercase;
    font-size: smaller;
}

li > input {
width: 200px;
height: 25px;
appearance: none;
border: 1px solid rgb(222, 222, 223);
border-radius: 3px;
}

/*Account button section */

.account-create {
    margin: 26px 0 50px 0;
    background-color: rgba(249, 250, 251, 1);
}

.account-create > button {
    width: 175px;
    height: 43px;
    margin-left: 30px;
    border: none;
    border-radius: 6px;
    box-shadow: 0px 4px 10px -2px rgb(201,199,199);
    color: white;
    font-weight: 800;
    background-color: #596D48;
}

.account-question {
    margin: 30px 0 0 30px;
    font-weight: bold;
}

.login > a {
    text-decoration: none;
    color: #596D48;
    font-weight: bolder;
}