/* Basic CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Custom fonts for Odin text */

@font-face {
    font-family: 'Swash';
    src: url(./fonts/devinne-swash-font/DevinneSwash-qZd5.ttf)
}

@font-face {
    font-family: 'Swash-shadow';
    src: url(./fonts/devinne-swash-font/DevinneSwashShadow-VGjB.ttf);
}

body {
margin: 0 auto;
width: 70%;
outline: 1px solid red;
}

/* Main container */

.container {
    min-height: 100vh;
    display: flex;
}

/* Image section */

section.decor {
    background-image: url(./images/mountain-lake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.decor-image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    height: 200px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5);
}

.decor-image-box > img {
    height: 70%;
}

.decor-image-box > p {
    font-family: 'Swash';
    color: rgb(255, 255, 255);
    font-size: 5rem;
}

/* Main section with form element */

.form-description {
    margin-bottom: 100px;
}

.form-description p:first-child {
    width: 410px;
}

.form-description > p + p {
    margin-top: 2rem;
}

.main {
    background-color: rgba(249, 250, 251, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Form */

.form {
    background-color: white;
}

.inputs {

}

ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 8rem;
    list-style-type: none;

}

ul > li {
    margin-top: 20px;
    flex: 1;
    display: flex;
}

li > label {
    display: inline-block;
    width: 10rem;
    background-color: tan;
}

li > input {
    flex: 0 1 50px;

}

.account-create {
    margin: 50px 0 50px 0;
    background-color: rgba(249, 250, 251, 1);
}